*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #24272e;
}

header{
  background: white;
  padding: 20px;
}

header > h1{
  color: #24272e;
  text-align: center;
  font-family: Asap, sans-serif;
}

.score-board{
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 40px;
  padding: 15px 20px;
  font-family: Asap, sans-serif;
  position: relative;
}

.badge{
  background: #E2584D;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: Asap, sans-serif;
  border-radius: 4px;
}

#user-label{
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label{
  position: absolute;
  top: 30px;
  right: -30px;
}

.result{
  font-size: 40px;
  color: white;
}

.result > p{
  text-align: center;
  font-family: Asap, sans-serif;
}

.choices{
  margin-top: 50px;
  text-align: center;
}



.choice{
  display: inline-block;
  opacity: 0.5;
  transition: all 0.28s ease;
}

.choice > img{
  border: 4px solid white;
  border-radius: 50%;
  padding: 7px;
  margin: 0 15px
  padding: 10px;
  width: 120px;
  height: 120px;
  transition: all 0.3s ease;
}

.choice:hover{
  cursor: pointer;
  opacity: 1;
}

#action_message{
  text-align: center;
  color: white;
  margin-top: 10px;
  font-family: Asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.green-glow > img{
  border: 4px solid #4dcc7b;
  box-shadow: 0 0 10px #31b43a;
  transition: all 0.28s ease;
}

.red-glow > img{
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
  transition: all 0.28s ease;
}

.grey-glow > img{
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
  transition: all 0.28s ease;
}

.restart{
  margin: 40px 0;
  padding: 20px 0;
  text-align: center;
}

#restart_btn{
  background-color: #1d1f24;
  font-size: 20px;
  font-family: Asap, sans-serif;
  color: white;
  border-color: white;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.5;
  transition: all 0.28s ease;
}

#restart_btn:hover{
  cursor: pointer;
  opacity: 1;
}
